.App{
  background-image: url(https://source.unsplash.com/random);
  height:20cm ;
  width:40cm ;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.box{
  height: 2cm;
  width: 14cm;
  background-color: aliceblue;
  border-radius:1% ;
  margin-top: 6cm;
  margin-left: 12cm;

}
.book{
  font-style: oblique;
  color: white
}
.box1{
  margin-top: 6cm;
  text-align: center;
}
.input{
  margin-left: 17cm;
  margin-top:1cm;
}
.class{
  height: 0.7cm;
  width: 10cm;
  align-items: center;
  background-color: white;
  margin-top: 0.3cm;
  margin-left: 14cm;
}
.yo{
  margin-left: 1cm;
}
